[submodule "checkpoints/pawn-small"]
	path = checkpoints/pawn-small
	url = https://huggingface.co/thomas-schweich/pawn-small
[submodule "checkpoints/pawn-base"]
	path = checkpoints/pawn-base
	url = https://huggingface.co/thomas-schweich/pawn-base
[submodule "checkpoints/pawn-large"]
	path = checkpoints/pawn-large
	url = https://huggingface.co/thomas-schweich/pawn-large
[submodule "checkpoints/pawn-base-discard-ply"]
	path = checkpoints/pawn-base-discard-ply
	url = https://huggingface.co/thomas-schweich/pawn-base-discard-ply
[submodule "data/stockfish-nodes1"]
	path = data/stockfish-nodes1
	url = https://huggingface.co/datasets/thomas-schweich/stockfish-nodes1
